<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title class="login-title">アカウント登録</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()" class="login-form" #loginForm="ngForm">
      <mat-form-field>
        <input matInput placeholder="氏名(姓と名の間にスペースを入力してください)" id="key" [(ngModel)]="keySet.key" name="key" #key="ngModel" required>
        <mat-error *ngIf="key.errors?.required">氏名は、必須入力です</mat-error>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">登録</button>
    </form>
  </mat-card-content>
</mat-card>
